# ignore haskell's language server files
haskell*

# ignore Bochs man files
man/*
share/*

# ignore log files
times.log

# ignore foreign build directories
dwm/
st/
yay/
fonts/
assets/

# binaries created from sources in *_src/ dirs
mario
peach
timer

# binaries that other programs installed into ~/bin/
# they're mostly compiled and thus are not portable
bundle
bundler
nokogiri
outfile
rackup
rails
rake
sprockets
thor
commonmarker
gemoji
github-pages
jekyll
kramdown
launch
rougify
safe_yaml
sass
sass-convert
scss
